<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>El color, negro elegancia</title>

    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <style>
        .subrayado{
            text-decoration: line-through;
        }

        footer {
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;
            background-color: #525353;
            color: #black;
            text-align: center;
        }
    </style>
</head>
<body>