{{> head }}
{{> navbar }}

    <br><br>
    <div class="container">
        <div class="row">
            <div class="col-8">
                <h4>El negro como simbolo de elegancia</h4>
                <p>
                    De hecho, en la actualidad, el negro supone la elegancia por excelencia. 
                    Se renuncia a la pompa y al deseo de llamar la atención. Esto se aprecia sobre todo, 
                    en la moda, conservadora masculina, en la que los trajes son siempre negros (frac, esmoquin…).
                </p>
                <p>
                    Como color principal o secundario, el negro significa: Silenció, elegancia y poder.
                    Como color de detalles y mínimo, trasmite: paz y sencillez
                     
                </p>
            </div>
            <div class="col-4">
                <img src="assets/images/animal.jpg" class="img-thumbnail">
            </div>
        </div>
    </div>

{{> footer }}