{{> head }}
{{> navbar }}

    <div class="jumbotron">
        <h1 class="display-4">Hello, soy {{ nombre }}!</h1>
        <p class="lead">Esta es una pagina simple,con un componente jumbotron para llamar 
            la atención sobre el contenido o la información destacada.
        </p>
        <p>
            Nuestro unico mensaje es que el color negro es el mas elegante de todos los colores
        </p>
        <hr class="my-4">
        <p> En realidad solo es un test de un sitio web hecho puramente en 
            Node.js con ayuda de HBS sus parciales, y helpers 
            asi como Bootstrap4 y Express para exponer el contenido estatico (assets, html)</p>
        <a class="btn btn-primary btn-lg" href="/about" role="button">Explicame mas sobre el color negro, Cristian!</a>
    </div>

{{> footer }}